
table {
    border: 1px solid black;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 6px;
}

.day:hover {
    cursor: pointer;
}

.day {
    width: 40px;
    height: 40px;
    text-align: center;
}

.today {
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.week:nth-of-type(odd) {
    font-weight: bold;
}

.selected {
    border-radius: 50%;
    outline: 2px solid rgba(0, 0, 255, 0.7);
    font-weight: bold;
}